.content-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
}

.page-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 1.25rem .625rem;
}

.rounded-round {
    border-radius: 100px !important;
}

.border-3 {
    border: 3px solid;
}

.uniform-checker input[type=checkbox],
.uniform-checker input[type=radio],
.uniform-choice input[type=checkbox],
.uniform-choice input[type=radio] {
    border: 0;
    background: 0 0;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: -.125rem;
    left: -.125rem;
    visibility: visible;
    opacity: 0;
    z-index: 2;
    -webkit-appearance: checkbox;
}

.uniform-checker,
.uniform-checker input,
.uniform-checker span,
.uniform-choice,
.uniform-choice input,
.uniform-choice span {
    width: 1.25rem;
    height: 1.25rem;
}

.uniform-checker span {
    color: #455a64;
    border-radius: .125rem;
    transition: border-color ease-in-out .15s, color ease-in-out .15s;
}
